body.no-scroll {
    overflow: hidden;
  }
  
  .sticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-inline: 1rem;
    background-color: #1F6CAB; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Other styles remain the same */
  

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
   
}

.btn{
    cursor: pointer;
    /* width: 50px; */
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem  1rem;
    width: 100%;
    height: 50px;
  
}

.logo{
    cursor: pointer;
}
.menu {
    display: flex;
    
}

.menu a {
    color: #fff;
    margin: 0rem 1.5rem;
    text-decoration: none;

}

.mobile_menu {
    display: none;
}



@media screen and (max-width: 767px) {
   .menu a {
        color: #000;
        margin: 1rem ;
        font-size: 1.3rem;
     
        display: block;
        text-decoration: none;

    }
    .mobile_menu {
        display: block;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }

    .active_menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 10;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 999999;
        flex-direction: column;
        padding-block: 2rem;
        
    }

   
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 9998;
}
.sticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1F6CAB; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }